header {
  background: url('../img/ne2_compr.jpg') center center no-repeat;
  background-size: cover;
  background-repeat: repeat;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left:       0;
  top:        0;
  height:   100%;
  width:    100%;
  position: absolute;
}
