  <!-- Footer -->

  <footer style="background-color: #212121;" class="py-5">
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; Walter A. Jablonowski 2019-2021
        <span class="font-weight-light">&nbsp;&nbsp;</span>
        <a href="privacy.html" class="text-white">Privacy <!-- / Datenschutz --></a>
        <span class="font-weight-light">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="imprint.html" class="text-white">Imprint <!-- Legal / Impressum --></a>
        <span class="font-weight-light">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="credits.html" class="text-white">Credits</a>
      </p>
    </div>
  </footer>


  <!-- JS includes -->

  <!-- 3.3.1 <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="vendor/components/jquery/jquery.min.js"></script>
  <!-- 4.2.1 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="public/plugins/jquery-easing/jquery.easing.min.js"></script>

  <!-- was index only -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

  <!-- Page JS -->

  <script src="public/js/common.js"></script>
  <!-- was index only -->
  <!--<script src="public/js/index.js"></script>-->
  