/* currently use in Tnterests only */

/* https://codepen.io/xtrp/pen/QWjREeo */

/* custom scrollbar */
#int1::-webkit-scrollbar {
  width: 20px;
}

#int1::-webkit-scrollbar-track {
  background-color: transparent;
}

#int1::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#int1::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}